repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright type check
        entry: python3 -m basedpyright
        language: system
        types: [ python ]